.col-sm-8.col-sm-offset-2
  .page-header
    %h2
      #{user.firstname} #{user.lastname}
      - if user.admin?
        %span.label.label-primary Admin

  %p
    Email:
    =user.email
  %p
    Member since:
    =user.created_at.strftime("%d-%m-%Y")
  %p
    Total user's reviews:
    =user.reviews.count

  - if user.reviews.any?
    .panel.panel-default
      .panel-heading
        %h3.panel-title Last user's reviews

      %ul.list-group
        - user.reviews.limit(5).order(created_at: :desc).each do |review|
          %li.list-group-item
            .media
              .media-body
                %h4.media-heading
                  = link_to review.product.title, category_product_path(review.product.category, review.product)
                  - review.rating.times do
                    %span.glyphicon.glyphicon-star
                  - (5 - review.rating).times do
                    %span.glyphicon.glyphicon-star-empty
                %em
                  "#{review.content}"
                \-  #{review.created_at.strftime("%d-%m-%Y")}