.col-md-8.col-md-offset-2
  %h1 Listing categories

  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th.col-md-1
        - if current_user && current_user.admin?
          %th.col-md-1
          %th.col-md-1
    %tbody
      - categories.each do |category|
        %tr
          %td= category.name
          %td= link_to 'Show', category, class: "btn btn-success"
          - if current_user && current_user.admin?
            %td= link_to 'Edit', edit_category_path(category), class: "btn btn-primary"
            %td= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

  %br

  - if current_user && current_user.admin?
    = link_to 'New Category', new_category_path, class: "btn btn-success"
