.col-sm-8.col-sm-offset-2
  .page-header.clearfix
    .pull-left
      %h2= category.name
    .pull-right
      .btn-group
        - if current_user && current_user.admin?
          = link_to 'Edit', edit_category_path(category), class: 'btn btn-primary'
        = link_to 'Back', categories_path, class: 'btn btn-primary'

  .panel.panel-default
    .panel-heading
      %h3.panel-title Products

    - if category.products.any?
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th Actions
        %tbody
          - category.products.each do |product|
            %tr
              %td= product.title
              %td
                .btn-group
                  = link_to 'Show', category_product_path(category, product), class: "btn btn-success"
                  - if current_user && current_user.admin?
                    = link_to 'Edit', edit_category_product_path(category, product), class: "btn btn-primary"
                    = link_to 'Destroy', category_product_path(category, product), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
    - else
      .panel-body
        There are no products in this category.

  - if current_user && current_user.admin?
    .panel.panel-default
      .panel-heading
        %h3.panel-title New product
      .panel-body
        = render 'products/form'
