= simple_form_for [category, product] do |f|
  - if product.errors.any?
    #error_explanation
      %h2= "#{pluralize(product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - product.errors.full_messages.each do |msg|
          %li= msg

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :price

  .form-actions
    = f.button :submit, 'Save'
