.col-sm-8.col-sm-offset-2
  .page-header
    .pull-right
      .btn-group
        - if current_user && current_user == product.user
          = link_to 'Edit', edit_category_product_path(category.id, product.id), class: 'btn btn-primary'
        = link_to 'Back', category_products_path, class: 'btn btn-primary'
    %h2= product.title

  .panel.panel-default
    .panel-heading.clearfix
      %h3.panel-title.pull-left
        #{product.category.name} > #{product.title} 
      %strong.pull-right
        = number_to_currency(product.price)

    .panel-body
      Description:
      %p= product.description

  - if reviews.any?
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Average rating: #{product.average_rating.round(1)}

      %ul.list-group
        = render reviews

  - if current_user
    .panel.panel-default
      .panel-heading
        %h3.panel-title Add review
      .panel-body
        = render 'reviews/form'
