!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    %title= AppConfig.workshops_name
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-static-top.navbar-inverse
      .container-fluid
        .navbar-header
          = link_to AppConfig.workshops_name, root_url, :class => "navbar-brand"
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li
              %a
                Logged in as
                %strong
                  = current_user.firstname
                  = current_user.lastname
            %li= link_to 'Edit profile', edit_user_registration_path
            %li= link_to "Logout", destroy_user_session_path, method: :delete
          - else
            %li= link_to "Login", new_user_session_path
            %li= link_to "Sign up", new_user_registration_path
            
    .container-fluid
      .row
        .col-sm-12
          -if notice
            .alert.alert-info#notice
              = notice
          -if flash[:error]
            .alert.alert-danger#error
              = flash[:error]

          = yield
